@font-face {
    font-family: 'Roboto-Bold';
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('fonts/woff2/Roboto-Bold.woff2') format('woff2');
    font-display: fallback;
}

@font-face {
    font-family: 'Roboto-BlackItalic';
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
        url('fonts/woff2/Roboto-BlackItalic.woff2') format('woff2');
    font-display: fallback;
}

@font-face {
    font-family: 'Roboto-Black';
    src: local('Roboto Black'), local('Roboto-Black'),
        url('fonts/woff2/Roboto-Black.woff2') format('woff2');
    font-display: fallback;
}

@font-face {
    font-family: 'Roboto-ThinItalic';
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
        url('fonts/woff2/Roboto-ThinItalic.woff2') format('woff2');
    font-display: fallback;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url('fonts/woff2/Roboto-Medium.woff2') format('woff2');
    font-display: fallback;
}

@font-face {
    font-family: 'RobotoMono-LightItalic';
    src: local('Roboto Mono Light Italic'), local('RobotoMono-LightItalic'),
        url('fonts/woff2/RobotoMono-LightItalic.woff2') format('woff2');
    font-display: fallback;
}

@font-face {
    font-family: 'RobotoMono-BoldItalic';
    src: local('Roboto Mono Bold Italic'), local('RobotoMono-BoldItalic'),
        url('fonts/woff2/RobotoMono-BoldItalic.woff2') format('woff2');
    font-display: fallback;
}

@font-face {
    font-family: 'Roboto-Thin';
    src: local('Roboto Thin'), local('Roboto-Thin'),
        url('fonts/woff2/Roboto-Thin.woff2') format('woff2');
    font-display: fallback;
}

@font-face {
    font-family: 'RobotoMono-SemiBoldItalic';
    src: local('Roboto Mono SemiBold Italic'), local('RobotoMono-SemiBoldItalic'),
        url('fonts/woff2/RobotoMono-SemiBoldItalic.woff2') format('woff2');
    font-display: fallback;
}

@font-face {
    font-family: 'RobotoMono-Italic';
    src: local('Roboto Mono Italic'), local('RobotoMono-Italic'),
        url('fonts/woff2/RobotoMono-Italic.woff2') format('woff2');
    font-display: fallback;
}

@font-face {
    font-family: 'Roboto-BoldItalic';
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
        url('fonts/woff2/Roboto-BoldItalic.woff2') format('woff2');
    font-display: fallback;
}

@font-face {
    font-family: 'RobotoMono-ExtraLightItalic';
    src: local('Roboto Mono ExtraLight Italic'), local('RobotoMono-ExtraLightItalic'),
        url('fonts/woff2/RobotoMono-ExtraLightItalic.woff2') format('woff2');
    font-display: fallback;
}

@font-face {
    font-family: 'RobotoMono-ThinItalic';
    src: local('Roboto Mono Thin Italic'), local('RobotoMono-ThinItalic'),
        url('fonts/woff2/RobotoMono-ThinItalic.woff2') format('woff2');
    font-display: fallback;
}

@font-face {
    font-family: 'RobotoMono-Thin';
    src: local('Roboto Mono Thin'), local('RobotoMono-Thin'),
        url('fonts/woff2/RobotoMono-Thin.woff2') format('woff2');
    font-display: fallback;
}

@font-face {
    font-family: 'Roboto-Italic';
    src: local('Roboto Italic'), local('Roboto-Italic'),
        url('fonts/woff2/Roboto-Italic.woff2') format('woff2');
    font-display: fallback;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: local('Roboto'), local('Roboto-Regular'),
        url('fonts/woff2/Roboto-Regular.woff2') format('woff2');
    font-display: fallback;
}

@font-face {
    font-family: 'RobotoMono-SemiBold';
    src: local('Roboto Mono SemiBold'), local('RobotoMono-SemiBold'),
        url('fonts/woff2/RobotoMono-SemiBold.woff2') format('woff2');
    font-display: fallback;
}

@font-face {
    font-family: 'RobotoMono-Regular';
    src: local('Roboto Mono Regular'), local('RobotoMono-Regular'),
        url('fonts/woff2/RobotoMono-Regular.woff2') format('woff2');
    font-display: fallback;
}

@font-face {
    font-family: 'Roboto-LightItalic';
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
        url('fonts/woff2/Roboto-LightItalic.woff2') format('woff2');
    font-display: fallback;
}

@font-face {
    font-family: 'RobotoMono-Light';
    src: local('Roboto Mono Light'), local('RobotoMono-Light'),
        url('fonts/woff2/RobotoMono-Light.woff2') format('woff2');
    font-display: fallback;
}

@font-face {
    font-family: 'Roboto-Light';
    src: local('Roboto Light'), local('Roboto-Light'),
        url('fonts/woff2/Roboto-Light.woff2') format('woff2');
    font-display: fallback;
}

@font-face {
    font-family: 'RobotoMono-Medium';
    src: local('Roboto Mono Medium'), local('RobotoMono-Medium'),
        url('fonts/woff2/RobotoMono-Medium.woff2') format('woff2');
    font-display: fallback;
}

@font-face {
    font-family: 'RobotoMono-Bold';
    src: local('Roboto Mono Bold'), local('RobotoMono-Bold'),
        url('fonts/woff2/RobotoMono-Bold.woff2') format('woff2');
    font-display: fallback;
}

@font-face {
    font-family: 'RobotoMono-ExtraLight';
    src: local('Roboto Mono ExtraLight'), local('RobotoMono-ExtraLight'),
        url('fonts/woff2/RobotoMono-ExtraLight.woff2') format('woff2');
    font-display: fallback;
}

@font-face {
    font-family: 'RobotoMono-MediumItalic';
    src: local('Roboto Mono Medium Italic'), local('RobotoMono-MediumItalic'),
        url('fonts/woff2/RobotoMono-MediumItalic.woff2') format('woff2');
    font-display: fallback;
}

@font-face {
    font-family: 'Roboto-MediumItalic';
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
        url('fonts/woff2/Roboto-MediumItalic.woff2') format('woff2');
    font-display: fallback;
}

